.day-card{
    display: grid;
    grid-template-columns: 10px 1fr;
    box-shadow: 0px 1px 4px var(--base-color-nav);
    margin: 10px;
    width: 270px;

}
.day-container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .day-title{
    padding: 10px;
    color: var(--base-color3);
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 10px;
    
 }

 .day-cases{
    position: relative;
    font-size: 12px;
 }

 .day-dashedline{
    margin-top:20px ;
    border-bottom: 1px gray dashed;
    width: 100%;
    background-color: rgb(207, 207, 207);
    margin-bottom: 10px;
 }

.day-color{
    background-color: var(--base-color3);
    height: 100%;
}